services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ./data:/app/data
   # ports:
     # - "3001:3001"
    networks:
      - nginx_net

networks:
  nginx_net:
    external: true
